body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #D9925C;
}

header {
    background-color: #4A6655;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h2 {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-bottom: 70px;
}

form {
    text-align: center;
}

.content {
    background-color: #D9CBB7;
    padding: 20px;
    border-radius: 3px;
}

.redes-sociais {
    height: 40px;
}

.p-form {
    text-align: center;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%
}

img {
    max-width: 100%;
    height: auto;
}

.menu {
    background-color: #2F2F2F;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover {
    background-color: #ddd;
    color: black;
}

.menu a.active {
    background-color: #04AA6D;
    color: white;
}

.menu .icon {
    display: none;
}