body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: rgb(63, 63, 63);
    color: #fff;
    padding: 20px;
    text-align: center;
}

h2 {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-bottom: 70px;
}

form {
    text-align: center;
}

.content {
    background-color: rgb(223, 219, 216);
    padding: 20px;
    border-radius: 3px;
}

.redes-sociais {
    height: 40px;
}

.p-form {
    text-align: center;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%
}

img {
    max-width: 100%;
    height: auto;
}