/*  ELEMENTOS GLOBAIS   */

* {
    box-sizing: border-box;
    /*tamanho do site*/
}

body {
    color: #444;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 900;
    font-size: 1, 5em;
}

h2 {
    font-weight: 900;
    font-size: 1em;
}

p {
    line-height: 1, 5;
}

a, a:active, a:visited {
    color: #000;
    text-decoration: none;
}

a:hover, a:focus {
    color: #D9925C;
    text-decoration: none;
}

/*  CLASSES COMPARTILHADAS   */

.container {
    width: 100%;
    padding: 5em 8em;
    text-align: center;
}

/*  FLEX GRID   */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
}

.grid-item {
    box-sizing: border-box;
    padding: 16px;
    text-align: center;
}

/*  ELEMENTOS ESPECÍFICOS   */

#nav-bar {
    padding:1em 8em;
    background-color: #fff;
    box-shadow: 0px 2px 2px rgb(151, 151, 151);
    position: sticky;
    top: 0;
}

#nav-bar .nav-toggle {
    float: right;
    cursor: pointer;
    font-size: 1.25em;
    display: inline-block;
}

#nav-bar #brand {
    display: inline-block;
    font-size: 1.25em;
    font-weight: 900;
}

#nav-bar ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav-bar li {
    margin-right: 0.5em;
    display: inline-block;
}

/*  SECTION PRESENTATION   */

#presentation {
    background: linear-gradient(rgba(44,62,80,0.65 ),rgba(74, 102, 85,0.65)),url('src/background-site.png') no-repeat fixed center;
    background-size: cover;
    color: #fff;
}

#presentation h1 {
    font-size: 3em;
}

#presentation img {
    max-width: 300px;
}

#presentation span {
    display: inline-block;
    width: 100%;
}

/*  SECTION ABOUT   */

#about {
    background-color: #D9925C;
    color: #fff;
}

/*  SECTION SKILLS   */

/*  SECTION PORTFOLIO   */

#portfolio {
    background-color: #798b80;
    color: #fff;
}

#portfolio .grid-container{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#portfolio .grid-item img {
    max-width: 100%;
    margin: 0;
}

#portfolio .grid-item {
    border: solid 10px #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 0;
}

/*  SECTION CONTACT   */

#contact-form {
    border-top: solid 8px #D9925C;
    background-color: rgb(226, 226, 226);
    padding: 3%;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea {
    padding: 2em;
    display: inline-block;
    height: 50px;
    border: solid 1px #ccc;
    border-radius: 5px;
    width: 100%;
}

#contact-form textarea {
    height: 200px;
}

#contact-form input[type="submit"] {
    background-color: #798b80;
    color: #fff;
    padding: 2em;
    width: 100%;
    border-radius: 5px;
    border: solid 1px #ccc;
    cursor: pointer;
}    

.grid-container.one-column {
    grid-template-columns: repeat(auto-fit,(100%,1fr));
}

/*  FOOTER   */

footer {
    background-color: #2c3e50;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
}

footer a {
    color: #fff;
}

footer a:hover, footer a:focus {
    color: #D9925C;
}

/*  RESPONSIVIDADE   */

@media (max-width: 500px) {
    .container {
        padding: 10% 3%;
    }
    #nav-bar {
        padding: 10% 3%;
    }
}

@media (min-width: 980px) {
    #nav-bar .nav-toggle {
        display: none;
    }
}

@media (max-width: 979px) {
    #nav-bar .nav-toggle {
        display: block;
    }
    #nav-bar ul {
        position: absolute;
        top: 60px;
        left: 0;
        padding: 0;
        width: 100%;
        list-style: none;
    }
    #nav-bar li {
        margin-right: 0.5em;
        display: inline-block;
        width: 100%;
        padding: 1em 8em;
        background-color: #fff;
        border-bottom: solid 1px #ccc;
    }
}